$mainColor: #15023a;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
};

$ipad_width: 820px;

@mixin ipad {
  @media (max-width: #{$ipad_width}) {
    @content
  }
};